html,
body,
.app {
  height: 100vh;
  background: #eeeeee;
  padding: 1em;
}

.message-currentmember {
  border-left: 10px solid #1f61c4;
  border-radius: 10px;
  border-bottom: 1px dotted #1f61c4;
  background: #c3d4ec;
  padding-left: 8px;
}

.message-form {
  position: fixed;
  bottom: 1em;
}

.message-form-column {
  width: 100% !important;
}

.message-others {
  border-left: 10px solid #33d45b;
  padding-left: 8px;
  margin-left: 32px;
  border-radius: 10px;
  border-bottom: 1px dotted #33d45b;
  background: #d4f5dc;
}

.messages {
  height: 60vh;
  overflow-y: scroll;

  max-width: 100% !important;
}

.messages-column {
  width: 100% !important;
}

@media screen and (max-width: 600px) {
  body {
    background: #eeeeee !important;
  }

  .app {
    height: 100% !important;
    flex-direction: column !important;
  }

  .menu {
    width: 100% !important;
    height: fit-content !important;
    flex-direction: column !important;
  }

  .message-form-column {
    margin-left: 0px !important;
  }

  .messages {
    height: 40vh !important;
  }

  .messages-column {
    margin-top: 20vh !important;
    margin-left: 0px !important;
  }

  .messages-segment {
    margin-top: 5vh !important;
  }
}
